<!-- templates/item/list.html -->  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アイテム一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>アイテム一覧</h1>
    <table>
        <thead>
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>在庫数</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${#numbers.formatInteger(item.price, 1, 'COMMA')}"></td>
                <td th:text="${item.stock.quantity}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>